<ion-header>
  <ion-navbar>
    <ion-title>CHAT APP</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="chatUser">
    <button ion-button block (click)="logout()">LOGOUT</button><br>
    <ion-card-header>
      {{ chatUser.email }}
    </ion-card-header>
    <ion-card-content>
      <p>Welcome to your chat application !</p>
      
      <ul>
        <li *ngFor="let item of items | async">
          <input type="text" #updatetext [value]="item.text" />
          <button (click)="updateItem(item.key, updatetext.value)">Update</button>
          <button (click)="deleteItem(item.key)">Delete</button>
        </li>
      </ul>
      <input type="text" #newitem />
      <button (click)="addItem(newitem.value)">Add</button>
      <button (click)="deleteEverything()">Delete All</button>


    </ion-card-content>
  </ion-card>
  <button ion-button block (click)="login()" *ngIf="!chatUser">LOGIN WITH GOOGLE</button>
</ion-content>
